body {
    font-family: CaveStoryRegular, Arial, Helvetica, sans-serif;
    color: var(--text-color);
    line-height: 0.8;
    font-size: 1.6em;

    user-select: none;
}

html, body {
    min-height: auto;
    height: 100%;

    background-color: #1F3809;
}

:root {
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-4: 1rem;
    --size-8: 2rem;
    --size-12: 3rem;
    --size-16: 4rem;

    --spacing-xxs: var(--size-1);
    --spacing-xs: var(--size-2);
    --spacing-s: var(--size-4);
    --spacing-m: var(--size-8);
    --spacing-l: var(--size-12);
    --spacing-xl: var(--size-16);

    --text-m: 1.5rem;
    --text-l: 2rem;

    --text-light-white: #D2E6FF;
    --text-light-brown: #D69756;
    --text-light-carrot: #fdcda5;
    --text-light-bomb: #c3ccff;

    --heading-l: 2.5rem;
    --heading-xl: 4rem;
    --heading-letter-spacing: 0.06em;

    --text-color: #fff;
    --text-color-twitter: #fff;

    --progress-bar-text: #000;
    --progress-bar-background: #fff;

    --positive-change-text: #91cd3e;
    --negative-change-text: #cd3e3e;

    --button-white-background: #D2E6FF;
    --button-white-border: #656985;
    --button-white-text: #000;

    --button-brown-background: #D69756;
    --button-brown-border: #8C3F21;
    --button-brown-text: #000;

    --button-secondary-background: #c9c9c9;
    --button-secondary-border: #8d8d8d;
    --button-secondary-text: #000;

    --button-twitter-background: #FFF;
    --button-twitter-border: #1e96e6;
    --button-twitter-text: #1e96e6;

    --playLane-separator: #FFF;

    --overlay-background-color: rgba(0, 0, 0, 0.5);

    /* medium-screen: 768px; */
    /* large-screen: 1024; */
}

@media only screen and (min-width: 768px) {
    :root {
        --text-m: 2rem;
        --text-l: 3rem;

        --heading-l: 4rem;
        --heading-xl: 6rem;
    }
}

.colourText {
    color: var(--text-light-white);
}

.colourText[data-colour="brown"] {
    color: var(--text-light-brown);
}
