.bunnySprite {
    display: block;
    position: relative;
    width: 15px;
    height: 26px;
    user-select: none;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.bunnySprite--lg {
    width: 42px;
    height: 64px;
}
