.playLane {
    position: relative;

    touch-action: manipulation;
    overflow: hidden;
}

.playLane_separator {
    position: absolute;
    left: calc(50% - 2px);
    top: 0;
    bottom: 0;

    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.playLane__bunny {
    position: absolute;
    left: 25%;
    bottom: 4vh;

    transform: translateX(-50%);
    transition: left 150ms ease-in-out;
}

.playLane__bunny[data-lane="1"] {
    left: 75%;
}

.playLane__item {
    position: absolute;
    left: 25%;
    top: 0;

    transform: translateX(-50%);
}

.playLane__item[data-lane="1"] {
    left: 75%;
}

.playLane__tutorial {
    opacity: 0;
    animation: appearTutorial 1s linear;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: var(--text-l);
}

.playLane__tutorial::before {
    content: "⬅️";
}

.playLane__tutorial[data-side="right"]::before {
    content: "➡️";
}

.playLane__tutorial::after {
    content: "key";
}

@media (pointer: coarse) {
    .playLane__tutorial::before {
        content: "👆";
    }
    .playLane__tutorial[data-side="right"]::before {
        content: "👆";
    }
    .playLane__tutorial::after {
        content: "tap";
    }
}

@keyframes appearTutorial {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}
