.playLane {
    position: relative;

    touch-action: manipulation;
}

.playLane_separator {
    position: absolute;
    left: calc(50% - 2px);
    top: calc(var(--game-world-base-unit) * -1);
    bottom: 0;

    border-left: 1px dashed var(--playLane-separator);

    animation: separatorScroll infinite calc(1s / var(--game-world-base-unit-per-seconds)) linear;;
}

.playLane__bunny {
    position: absolute;
    left: 25%;
    bottom: 100px;

    transform: translateX(-50%);
    transition: left 150ms ease-in-out;
}

.playLane__bunny[data-lane="1"] {
    left: 75%;
}

.playLane__item {
    position: absolute;
    left: 25%;
    top: 0;

    transform: translateX(-50%);
}

.playLane__item[data-lane="1"] {
    left: 75%;
}

@keyframes separatorScroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(var(--game-world-base-unit));
    }
}
