.playLane {
    position: relative;

    touch-action: manipulation;
}

.playLane_separator {
    position: absolute;
    left: calc(50% - 2px);
    top: -64px;
    bottom: 0;

    border-left: 1px dashed var(--playLane-separator);

    animation: separatorScroll infinite 2s linear;;
}

.playLane__bunny {
    position: absolute;
    left: 25%;
    bottom: 100px;

    transform: translateX(-50%);
    transition: left 150ms ease-in-out;
}

.playLane__bunny[data-lane="1"] {
    left: 75%;
}

@keyframes separatorScroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(64px);
    }
}
