.customButton {
    --border-size: -4px;

    position: relative;

    font-size: 2rem;
    padding: var(--spacing-xs) var(--spacing-s);

    background-color: var(--button-white-background);
    color: var(--button-white-text);
    border: none;
}

.customButton__borderLeft {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--border-size);
    right: 100%;

    background-color: var(--button-white-border);
}
.customButton__borderRight {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: var(--border-size);

    background-color: var(--button-white-border);
}
.customButton__borderTop {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--border-size);
    bottom: 100%;

    background-color: var(--button-white-border);
}
.customButton__borderBottom {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: var(--border-size);

    background-color: var(--button-white-border);
}

.customButton[data-colour="brown"] {
    background-color: var(--button-brown-background);
    color: var(--button-brown-text);

    --button-white-border: var(--button-brown-border);
}
