.play__container {
    width: 100%;
    height: 100%;

    display: flex;
}

.play__playLane {
    flex-grow: 1;
}

.play__playLane + .play__playLane {
    border-left: 2px solid var(--playLane-separator);
}
