html, body {
  width: 100%;
  height: 100%;
}

.homeContainer {
  width: 100%;
  height: 100%;
  background-image: url("/resources/grass.png");

  animation: grassScroll infinite 2s linear;
}

.home__title {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: 0.065em;
  text-align: center;
  color: var(--text-color);
  padding-top: 4rem;
}

@media (prefers-reduced-motion) {
  .homeContainer {
    animation: none;
  }
}

@keyframes grassScroll {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: 64px;
  }
}
