.home__container {
  width: 100%;
  height: 100%;
  background-image: url("/resources/grass.png");

  animation: grassScroll infinite 2s linear;

  padding: 0 var(--spacing-s);

  display: flex;
  align-items: center;
}

.home__container > * + * {
  margin-top: var(--spacing-xl);
}

@media (prefers-reduced-motion) {
  .home__container {
    animation: none;
  }
}

.home__bunnies {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}

.home__bunnies__bunny {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-s);
}

.home__bunnies__bunny + * + .home__bunnies__bunny {
  flex-direction: column-reverse;
}

.home__bunnies__name, .home__bunnies__vs {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: 0.06em;

  text-align: center;

  color: var(--text-color);
}

.home__bunnies__vs {
  font-size: 4rem;
}

@media only screen and (min-width: 768px) {
  .home__bunnies__name {
    font-size: 6rem;
  }
}

.home__bunnies {
  display: flex;
  justify-content: space-around;
}

@keyframes grassScroll {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: 64px;
  }
}
