.grassContainer {
    background-image: url("/resources/grass.png");

    animation: grassScroll infinite calc(1s / var(--game-world-base-unit-per-seconds)) linear;
}

@media (prefers-reduced-motion) {
    .grassContainer {
        animation: none;
    }
}

@keyframes grassScroll {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: var(--game-world-base-unit);
    }
}
