.gameOverScreen {
    background-color: var(--overlay-background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: var(--spacing-m);
}

.gameOverScreen__title {
    font-size: var(--heading-xl);
    letter-spacing: var(--heading-letter-spacing);
}
