.playProgress {
    background-color: rgb(14, 26, 4, 0.8);
    backdrop-filter: saturate(180%) blur(10px);

    padding: var(--spacing-xs);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playProgress__bunnies {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-xs);
}

.playProgress__bunnies[data-reverse="true"] {
    flex-direction: column-reverse;
}

.playProgress__score {
    font-size: var(--text-l);
}

@media only screen and (min-width: 768px) {
    .playProgress__bunnies {
        flex-direction: row;
        gap: var(--spacing-m);
    }

    .playProgress__bunnies[data-reverse="true"] {
        flex-direction: row-reverse;
    }
}

.playProgress__bunny__medal {
    position: absolute;
    transform: scale(0.5);
    left: 0;
}

.playProgress__bunny {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);

    white-space: nowrap;

    position: relative;
    padding-left: 30px;
}
